.title-card{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  border: 1px solid red;
}
.title-card h1{
    font-size: 16px;
    color: #120C39;
}
.date{
  display: flex;
  width: 60px;
  justify-content: space-between;
}
.calendar-color{
  width: 6px;
  height: 35px;
  background: #5CB85C;
  border-radius: 0px 4px 4px 0px;
}
.calendar-date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}