.userscard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    border: 1px solid #ec7456;
    border: 1px solid rgb(255, 61, 2);
}
.date{
    position: absolute;
    left: 76px;
    display: flex;
    width: 60px;
    justify-content: space-evenly;
  }
  .calendar-color{
    width: 6px;
    height: 35px;
    background: #5CB85C;
    border-radius: 0px 4px 4px 0px;
  }
  .calendar-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .calendar-date h1{
    font-size: 16px;
  }
.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.status{
    display: flex;
    width: 150px;
    justify-content: space-evenly;
}
.eye{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
}
.status-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 30px;
    border-radius: 4px
}